SDK/Dataexchange/resources/Dataexchange.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Dataexchange" targetNamespace="http://com.projecthl7/Dataexchange/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.projecthl7/Dataexchange/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.projecthl7/Dataexchange/">
      <xsd:element name="authenticatonRequest">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="username" type="xsd:string"/>
          	<xsd:element name="password" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authenticatonResponse" type="xsd:string">
      </xsd:element>
      <xsd:element name="requestpatientdataRequest">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="firstname" type="xsd:string"/>
      			<xsd:element name="lastname" type="xsd:string"/>
      			<xsd:element name="phoneno" type="xsd:string"/>
      			<xsd:element name="sex" type="xsd:string"/>
      			<xsd:element name="age" type="xsd:string"/>
      			<xsd:element name="address" type="xsd:string"/>
      			<xsd:element name="partner" type="xsd:string"/>
      			<xsd:element name="dateadmitted" type="xsd:string"/>
      			<xsd:element name="datereleased" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="requestpatientdataResponse" type="xsd:string">
      </xsd:element>
      <xsd:element name="sendpatientdataRequest">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="partner" type="xsd:string"/>
      			<xsd:element name="filename" type="xsd:string"/>
      			<xsd:element name="file" type="xsd:base64Binary"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="sendpatientdataResponse" type="xsd:string">
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestpatientdataResponse">
    <wsdl:part name="parameters" element="tns:requestpatientdataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendpatientdataRequest">
    <wsdl:part name="parameters" element="tns:sendpatientdataRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendpatientdataResponse">
    <wsdl:part name="parameters" element="tns:sendpatientdataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticatonResponse">
    <wsdl:part name="parameters" element="tns:authenticatonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestpatientdataRequest">
    <wsdl:part name="parameters" element="tns:requestpatientdataRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticatonRequest">
    <wsdl:part name="parameters" element="tns:authenticatonRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Dataexchange">
    <wsdl:operation name="authenticaton">
      <wsdl:input message="tns:authenticatonRequest">
    </wsdl:input>
      <wsdl:output message="tns:authenticatonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestpatientdata">
      <wsdl:input message="tns:requestpatientdataRequest">
    </wsdl:input>
      <wsdl:output message="tns:requestpatientdataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendpatientdata">
      <wsdl:input message="tns:sendpatientdataRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendpatientdataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataexchangeSOAP" type="tns:Dataexchange">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="authenticaton">
      <soap:operation soapAction="http://com.projecthl7/Dataexchange/authenticaton"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestpatientdata">
      <soap:operation soapAction="http://com.projecthl7/Dataexchange/requestpatientdata"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendpatientdata">
      <soap:operation soapAction="http://com.projecthl7/Dataexchange/sendpatientdata"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dataexchange">
    <wsdl:port name="DataexchangeSOAP" binding="tns:DataexchangeSOAP">
      <soap:address location="http://localhost:8080/axis2/services/Dataexchange"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
